
.testText1 {
    background-color: gainsboro;    
    border: 1px solid grey;
    width: 100%;
}

#testText2 {
    background-color: purple;
}

.columnFilling {
    background-color: coral;
    width: 100%;
    height: 100%;
}

.chapiterFilling {
    background-color: coral;
    width: 100%;
    height: 100%;
}

.TestFilling {
    background-color: yellow;
    width: 100%;
    height: 150vh;
}

.cardTestFilling {
    background-color: gainsboro;
    border-radius: 10%;
    border: 1px solid black;
}

.textPill {
    background-color: gainsboro;    
    border: 1px solid black;
}

.columnPicture {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1200px) {
    .columnPicture {
        display: none;
    }
}
